/node_modules
/public/hot
/public/storage
/public/js
/public/css
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
/.phpstorm.meta.php
/,.php
/_ide_helper.php
/_ide_helper_models.php
/composer.lock
/storage/api-docs/api-docs.json
/.idea/*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.php_cs.cache
yarn.lock
package-lock.json
/storage/*.index
